#mainHeader{
    text-align: center;
}

#paths{
    margin-left: 35%;
}

table{
    margin-left: 20%;
    width: 1100;
    height: 750;
}

table ,td, tr{
    border: 3px solid rgb(48, 104, 62);
}
body{
    background-color: #A9A9A9;
}